[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externals/opencv"]
	path = externals/opencv
	url = https://github.com/opencv/opencv.git
[submodule "externals/exiv2"]
	path = externals/exiv2
	url = https://github.com/Exiv2/exiv2.git
[submodule "externals/hash-library"]
	path = externals/hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "externals/libheif"]
	path = externals/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "externals/heif"]
	path = externals/heif
	url = https://github.com/nokiatech/heif.git
[submodule "externals/bit7z"]
	path = externals/bit7z
	url = https://github.com/rikyoz/bit7z.git
[submodule "externals/7zip-cpp"]
	path = externals/7zip-cpp
	url = https://github.com/getnamo/7zip-cpp.git
[submodule "externals/FFmpeg"]
	path = externals/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
